{% extends 'base.html.twig' %}

{% block body %}
<!--HEADER-->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#4774b7;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand"><img class="imagen_logo_cabecera" src="LOGO2.png"  width="225" height="80"></a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
        <div class="col-7">
            <h5 style="color:#232428;">Panel de Administradores</h5>
        </div>
            <div class="col-3 text-end mt-2">
                <a href="{{ path('app_menu') }}"><h5 id="icons">{{nombre.getNombre()}} {{nombre.getApellidos()}}</h5></a>
            </div>
            <div class="col-1 text-center">
                <a href="{{ path('app_menu') }}"><i id="icons" class="fa-solid fa-house fa-2xl"></i></a>
            </div>
            <div class="col-1 text-start">
                <a href="{{ path('app_login') }}"><i id="icons" class="fa-solid fa-power-off fa-2xl"></i></a>
            </div>
      </div>
    </div>
</nav>
<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
        <ul>
            <li>
                <div class="row mt-3">
                    <div class="col-1">
                        <a id="link" href="{{ path('app_menu') }}"><h5>Home</h5></a>
                    </div>
                </div>
            </li>
            <li>
                <div class="row mt-3">
                    <div class="col-5">
                        <a id="link" href="{{ path('app_login') }}"><h5>Cerrar Sesión</h5></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--/HEADER-->

<section>
    <div class="container">
        <h3 class="text-center mt-4 mb-4">FORMULARIO DE ALTA NUEVO VOLUNTARIO</h3>
        <form action="" method="post">
            <div class="row mb-4">
                <div class="col-2"></div>
                <div class="col-4">
                    <div class="form-outline">
                        <input type="text" id="Nombre" name="NOMBRE" class="form-control" placeholder="Nombre"/>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-outline">
                        <input type="text" id="Apellidos" name="APELLIDOS" class="form-control" placeholder="Apellidos"/>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>

            <div class="row">
                <div class="col-2"></div>
                <div class="col-4">
                    <div class="form-outline mb-2">
                        <input type="email" id="Email" name="EMAIL" class="form-control" placeholder="Email"/>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-outline mb-2">
                        <input type="password" id="Password" name="PASSWORD" class="form-control" placeholder="Contraseña"/>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>

            <div class="row mb-4">
                <div class="col-2"></div>
                <div class="col-3">
                    <div class="form-outline mt-4">
                        <input type="text" id="Dni" name="DNI" class="form-control" placeholder="DNI" minlength="9" maxlength="9"/>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-outline mt-4">
                        <input type="text" id="Telefono" name="TELEFONO" class="form-control" placeholder="Teléfono" minlength="9" maxlength="9"/>
                    </div>
                </div>
                <div class="col-2 mb-2">
                    <div class="form-outline">
                        <label for="FechaNacimiento">Fecha de nacimiento</label>
                        <input type="date" id="FechaNacimiento" name="FECHA_NACIMIENTO" class="form-control" />
                    </div>
                </div>
                <div class="col-1"></div>
            </div>

            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="form-outline mb-4">
                        <input type="text" id="Direccion" name="DIRECCION" class="form-control" placeholder="Dirección"/>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>

            <div class="row mb-2">
                <div class="col-2"></div>
                <div class="col-3">
                    <div class="form-outline">
                        <input type="text" id="Poblacion" name="POBLACION" class="form-control" placeholder="Población"/>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-outline">
                        <select required name="PROVINCIA" class="form-control">
                            <option value="">Provincia</option>
                            <option value="Álava/Araba">Álava/Araba</option>
                            <option value="Albacete">Albacete</option>
                            <option value="Alicante">Alicante</option>
                            <option value="Almería">Almería</option>
                            <option value="Asturias">Asturias</option>
                            <option value="Ávila">Ávila</option>
                            <option value="Badajoz">Badajoz</option>
                            <option value="Baleares">Baleares</option>
                            <option value="Barcelona">Barcelona</option>
                            <option value="Burgos">Burgos</option>
                            <option value="Cáceres">Cáceres</option>
                            <option value="Cádiz">Cádiz</option>
                            <option value="Cantabria">Cantabria</option>
                            <option value="Castellón">Castellón</option>
                            <option value="Ceuta">Ceuta</option>
                            <option value="Ciudad Real">Ciudad Real</option>
                            <option value="Córdoba">Córdoba</option>
                            <option value="Cuenca">Cuenca</option>
                            <option value="Gerona/Girona">Gerona/Girona</option>
                            <option value="Granada">Granada</option>
                            <option value="Guadalajara">Guadalajara</option>
                            <option value="Guipúzcoa/Gipuzkoa">Guipúzcoa/Gipuzkoa</option>
                            <option value="Huelva">Huelva</option>
                            <option value="Huesca">Huesca</option>
                            <option value="Jaén">Jaén</option>
                            <option value="La Coruña/A Coruña">La Coruña/A Coruña</option>
                            <option value="La Rioja">La Rioja</option>
                            <option value="Las Palmas">Las Palmas</option>
                            <option value="León">León</option>
                            <option value="Lérida/Lleida">Lérida/Lleida</option>
                            <option value="Lugo">Lugo</option>
                            <option value="Madrid">Madrid</option>
                            <option value="Málaga">Málaga</option>
                            <option value="Melilla">Melilla</option>
                            <option value="Murcia">Murcia</option>
                            <option value="Navarra">Navarra</option>
                            <option value="Orense/Ourense">Orense/Ourense</option>
                            <option value="Palencia">Palencia</option>
                            <option value="Pontevedra">Pontevedra</option>
                            <option value="Salamanca">Salamanca</option>
                            <option value="Segovia">Segovia</option>
                            <option value="Sevilla">Sevilla</option>
                            <option value="Soria">Soria</option>
                            <option value="Tarragona">Tarragona</option>
                            <option value="Tenerife">Tenerife</option>
                            <option value="Teruel">Teruel</option>
                            <option value="Toledo">Toledo</option>
                            <option value="Valencia">Valencia</option>
                            <option value="Valladolid">Valladolid</option>
                            <option value="Vizcaya/Bizkaia">Vizcaya/Bizkaia</option>
                            <option value="Zamora">Zamora</option>
                            <option value="Zaragoza">Zaragoza</option>
                        </select>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-outline">
                        <input type="text" id="CodPostal" name="COD_POSTAL" class="form-control" placeholder="Código Postal"/>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>

            <div class="row mb-4">
                <div class="col-2"></div>
                <div class="col-4 mt-4">
                    <div class="form-outline">
                        <input type="text" id="Camiseta" name="CAMISETA" class="form-control" placeholder="Camiseta"/>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-outline">
                    <label for="FichaSepa">Ficha SEPA</label>
                        <input type="file" id="FichaSepa" name="FICHA_SEPA" class="form-control" placeholder="Ficha SEPA"/>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>

            <div class="row mb-4">
                <div class="col-2"></div>
                <div class="col-2">
                    <div class="form-outline">
                        <input type="text" id="Poblacion" name="VOLUN_LA_CAIXA" class="form-control" placeholder="Voluntario La Caixa"/>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-outline">
                        <input type="text" id="Iban" name="IBAN" class="form-control" placeholder="IBAN" minlength="40" maxlength="40"/>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>

            <div class="row mb-2">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="form-outline">
                        <textarea class="form-control" id="Titulaciones "name="TITULACIONES" rows="4" placeholder="Titulaciones"></textarea>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>

            <div class="row mb-4">
            <div class="col-2"></div>
                <div class="col-3">
                    <div class="form-outline">
                        <label for="FechaAlta">Fecha de Alta</label>
                        <input type="date" id="FechaAlta" name="FECHA_ALTA" class="form-control" placeholder="Fecha de Alta"/>
                    </div>
                </div>
                <div class="col-2 mt-4 d-flex">
                    <label id="admin" class="form-check-label" for="flexSwitchCheckDefault">Es Administrador</label>
                    <div id="switch" class="form-check form-switch checkbox-lg">
                        <input class="form-check-input" name="ADMIN" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    </div>
                </div>
                <div class="col-3 mt-4">
                    <button id="submit" type="submit" class="text-center btn btn-primary btn-block">Dar de Alta</button>
                </div>
                <div class="col-1"></div>
            </div>
            
        </form>
    </div>
</section>
{% endblock %}
